:root{
    --cor1:#122E40;
    --cor2:#1D6373;
    --cor3:#8C160B;

}
*{
    padding: 0px;
    margin: 0px;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
input{
    border: 2px solid var(--cor2);
}
header{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px black;
    background-color: var(--cor1);
    width: 100%;
    height: 60px;

}
main{
    box-shadow: 1px 1px 3px black;
    color: white;
    background-color: var(--cor2);
    width: 100%;
    height: 100%;
    flex-grow: 1;
    
}
footer a{
    color: white;
    text-decoration: none;
}
footer{
    text-shadow: 2px 2px 3px black;
    text-align: center;
    font-size: 1.3em;
    height: 90px;
    color: white;
    background-color: var(--cor1);

}

.fixar{
    position: fixed;
    top: 0;
}

/*CONFIGURAÇÕES DOS ELEMENTOS DENTRO DO MAIN*/

/* IMAGENS */

section#imagem{
    display: none;
    background: url('../img/img-balanca-2.avif') no-repeat center;
    background-size: contain;
    text-align: center;
    margin: 20px auto;
    height: 300px;
    max-width: 800px;
}
section#imagem img{
    max-width: 400px;
    height: 80%;
}

/*FORMULARIO*/

section#formulario{
    background: url('../img/img-balanca-2.avif') no-repeat center;
    background-size: contain;
    background-size: cover;
    border-radius: 10px;
    margin: 94px 10px 0px 10px;
    padding: 60px 20px 0px 20px;
    text-align: center;
    height: 300px;
    max-width: 800px;
    margin-bottom: 20px;
    background-color: var(--cor1);
}


input{
    margin-left: 5px;
    width: 200px;
    height: 30px;
}
#altura{
    margin-bottom: 40px;
    
}
#peso{
    margin-bottom: 40px;

}
label{
    font-size: 1.3em;
    text-shadow: 1px 1px black;
}
.botoes{
    margin-left: 20px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 1px 1px 3px black;
    font-size: 1.1em;
    color: white;
    width: 90px;
    height: 40px;
    background-color: var(--cor2);

}
.botoes:hover{
    background-color: white;
    color: black;
}

@media screen and (min-width:498px){
    section#imagem{
        display: none;
        background: url('') no-repeat center;
        background-size: contain;
        text-align: center;
        margin: 20px auto;
        height: 300px;
        max-width: 800px;
    }
    section#formulario{
        background: url('');
        border-radius: 10px;
        margin: 90px auto;
        padding: 60px 20px 0px 20px;
        text-align: center;
        height: 300px;
        max-width: 800px;
        background-color: var(--cor1);
    }
    

}