/*Versão Mobile First*/

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1:#5A86E6;
    --cor2:#A1B8EA;
    --cor3:#283B66;
    --cor-4:#4668B3;
}
html,body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-color: var(--cor2);
    margin: auto;
}
#burguer{
    cursor: pointer;
    height: 37px;
    text-align: center;
    display: block;
    width: 100%;
    background-color: var(--cor4);
    color: white;
    padding-top: 8px;

}
#burguer:hover{
    background-color: var(--cor1);
}
header.geral{
    height: auto;
    background-color: var(--cor3);
    margin-bottom: 20px;
    width: 100%;
    
}
header.geral ul li{
    cursor: pointer;
    list-style: none;
    display: block;
    line-height: 40px;
    height: 100%;
    text-align: center;
    background-color:var(--cor-4);
    border: 1px solid var(--cor1);
}
header.geral ul li:hover{
    background-color: var(--cor2);

}
header.geral a{
    display: block;
    height: 100%;
    width:100%;
    color: white;
    text-decoration: none;
}
main.Pagina-inicial{
    background-color: white;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 0px 15px 15px 15px;
}
main.Pagina-inicial h1,h2{
    margin-bottom: 30px;
    color: var(--cor3);
}
main.Pagina-inicial p{
    margin-bottom: 30px;
    line-height: 30px;

}
footer{
    font-weight: bolder;
    text-align: center;
    color: white;
    background-color: var(--cor3);
}
footer p{
    padding-top: 10px;
}
footer p a{
    text-decoration: none;
    color: white;
}