/* Formatações */
*{
    margin: 0px;
    padding: 0px;
    
}
p{
    text-indent: 10px;
    line-height: 27px;
    margin-top: 60px;
}
a{
    color: white;
    text-decoration: none;
}
li{
    list-style: none;
}
/*Estilos */
body{
    min-height: 100vh;
    font-size: 1.3em;
    color: white;
    text-align: center;
    background-color: #4141ff;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    padding: 10px;
    height: auto;
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-between;
}
header > section{
    margin: 4px;
}
header > section.s2{
    display: none;
}
header > section > h1{
    text-shadow: 1px 1px 1px black;
}
main{
    
}
section.container_formulario{
    margin: auto;
    display: flex;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #3939ff;
    flex-direction: column-reverse;
}
div.formulario{
    display: block;
    height: 50%;
    border-top: 1px solid white;
    border-left: 0px solid white;
}
div.formulario > form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    animation-timing-function: ease;
   
}
div.imagem{
    display: flex;
    width: 100%;
    min-height: 200px;
    align-items: center;
    justify-content: center;
    background-size: contain;
    transition: height 1s, width .7s;
    background: beige url('../img/img_container_form.svg') center no-repeat;
}
.dados{
    padding: 4px;
    font-size: .8em;
    border: 0px;
    width: 200px;
    height: 27px;
    margin-left: 10px;
    text-align: center;
    border-radius: 2px;
}
.dados_radios{
    scale: 1.4;
    margin: 10px;
    cursor:pointer;
    margin:20px 20px;
}
.acao{
    cursor: pointer;
    border: 0px;
    margin: 20px;
    width: 180px;
    height: 40px;
    color: white;
    border-radius: 3px;
    font-weight: bolder;
    border: 1px solid white;
    background-color: #2323ff;
}
.acao:active{
    background-color: #0505b6;
}
#coleta_sexo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.recomendações{
    width: 100%;
    height: 100%;
    color: white;
    background-color: #eeeed675;
    text-shadow: 1px 1px 1px black;
}