/*Para telas superiores a 724px*/

@media screen and (min-width:724px){
    :root{
        --cor1:#5A86E6;
        --cor2:#A1B8EA;
        --cor3:#283B66;
        --cor-4:#4668B3;
    }
    #burguer{
        display: none;
    }
    header.geral{
        height: 80px;
    }
    header.geral menu{
        padding-left: 40px;
    }
    header.geral menu ul li{
        background-color:var(--cor3);
        border: none;
        padding-right: 20px;
        margin-top: 20px;
        display: inline-block;
        padding: 0px 0px 0px px;
    }
    header.geral menu ul li:hover{
        background-color: var(--cor1);
        width: auto;
        border-radius: 4px;
        box-shadow: 1px 1px 4px black;
    }
    header.geral a{
        padding-left: 10px;
        font-weight: bolder;
    }


}