*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5353ff;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
}
header{
    font-size: 0.9em;
    color: white;
    text-align: center;
    height: 60px;
    background-color: black;
}
main{
    width: 90%;
    margin: auto;
}
section#imc{
    background-color: white;
    height: 400px;
    max-width: 600px;
    border-radius: 10px;
    margin: 60px auto;
    overflow: hidden;
    animation-timing-function: ease;
}
section#imagem{
    height: 50%;
    background:url(../img/balança.jpg) center;
    transition: height 1s , widthd 1s;
}
section#formulário{
    text-align: center;
    height: 50%;
}
section#msg{
    display: none;
    max-width:800px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    text-align: center;
    margin: auto;
    transition:  1s;
    margin-bottom: 20px;
    border: 1px solid white;
    transition:  1s;
}
section#msg p#msg1{
    margin-top:10px ;
    padding-bottom: 10px;
}

section#msg > h1{
    margin-bottom: 10px;
}
div.inputs{
    border-radius: 10px;
    background-color: #5353ff;
    height: 40px;
    max-width: 280px;
    margin: 10px auto;
}
span{
    margin-left: -20px;
    color: white;
    background-color: black;
    height: 100%;
    width: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
div.inputs input{
    border: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 90%;
    width: calc(100% - 30px);
    transition: transform 1s;
}
.ação{
    cursor: pointer;
    height: 37px;
    width: 100px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 3px;
    transition: transform 1s;

   
}
.ação:hover{
    border: 2px solid white;
    background-color: blue;
    color: white;
    border-radius: 4px;
    transform: translate(0px,-3px);
}
footer{
    background-color: black;
    height: 90px;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: white;
}

table{
    height: 300px;
    color: black;
    width: 90%;
    border-collapse:collapse ;
    margin: auto;
    background-color: white;
}
th{
    background-color: yellow;
}
th,tr,td{
    border: 1px solid black;

}
@media screen and (min-width:480px){
    section#imagem{
        background: url(../img/balança-2.jpg) no-repeat center;
        background-size: cover;
        height: 100%;
        width: 50%;
        float: left;
    }
    section#formulário{
        padding: 20px;
        margin-top: 50px;
        height: 100%;
        width: 50%;
        float: right;
    }
    div.inputs{
        text-align: center;
        margin-top: 20px;
    }
    .ação{
        margin-top: 32%;
    }
    section#imc{
        max-width: 800px;

    }
    div.inputs input:focus{
        transform: scale(1.2);
    }
}