
:root{
    --cor1:#49a89d;
    --cor3:#5f2cB2;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body,html{
    background-color: var(--cor3);
    min-height: 100vh;
    width: 100vw;

}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    box-shadow: 0px 0px 10px #00000081;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 260px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}
section#login > div#imagem{
    height: 200px;
    display: block;
    background: var(--cor3) url('../img/pexels-david-underland-3523621.jpg') no-repeat ;
    background-size: cover;

}
section#login > div#formulario{
    display: block;
    padding: 10px;
}
div#fomrulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p{
    margin-top: 6px;
    font-size: 1.1em;
}
span{
    color: var(--cor3);
}
div.campo{
    background-color: var(--cor3);
    border-radius: 10px;
    height: 40px;
    color: black;
    margin-top: 20px;
}
div.campo > span{
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 2em;
    width: 40px;
  
    
}
div.campo > label{
    display:none;
}
div.campo > input{
    background-color: var(--cor1);
    font-size: 1em;
    height: 90%;
    padding: 7px;
    width: calc(100% - 45px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateY(-10px);
    border: 0;
}
form > input[type=submit]{
    border: 1px solid black;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor1);
    display: block;
    border-radius: 5px;
}
form > input[type=submit]:hover{
    background-color: #2d6462;
}
form > a.botao{
    text-decoration: none;
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#6cd3cf ;
    border: 1px solid black ;
    border-radius: 5px;
    color: black;
}
form a.botao > i{
    font-size: 1.7em;
}
form a.botao:hover{
    background-color: var(--cor1);
}