@media screen and (min-width:481px) and (max-width:969px){
    body{
        background-image: linear-gradient(to top,#49a89d,
        #5f2cB2);
    }
    section#login{
        width: 90vw;

    }
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;

    }
    section#login > div#formulario{
        float: right;
        width: 70%;

    }
    div#formulario > p{
        font-size: 1.4em;
    }
 
}
@media screen and (min-width:970px){
    body{
        background-image: linear-gradient(to top,#49a89d,#5f2cB2);

    }
    section#login{
        width: 950px;

    }
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;

    }
    section#login > div#formulario{
        float: left;
        width: 50%;
        
    }
    div#formulario > p{
        font-size: 1.4em;
    }

}
