@media screen and (min-width:320px) and (max-width:577px){
    ul li a{
        display: none;
    }
}
@media screen and (min-width:578px){
    ul li a{
        display: flex;
    }
    #menuflutuante{
        max-width: 400px;
        display: none;
    }
    
}
@media screen and (min-width:645px){
    #fale a{
        display: flex;
    }
    section#s1{
        display: none;
    }
    nav#itensmenu ul li{
        display: none;
    }
    
}