
body{
    text-align: center;
    color: white;
    background-color: #4848ff;
}
#divs{
    border-radius: 10px;
    padding: 5px;
    background-color: orangered;
    max-width:100%;
    margin: auto;
}
.itens{
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    display: inline-block;
    background-color: white;
    margin-left: 10px;
}

#p1{
    animation: Teste 1s linear ;

}
@keyframes Teste{
    from{background-color:blue;}
    to{background-color:red;}
}