@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    background-color: darkgray;
}
header{
    background-color: black;
    color:white;
    text-align: center;
}
header >h1{
    padding-top: 40px;
    padding-bottom: 5px;

}
header > p{
    padding-bottom: 40px;
}
header > p,a{
    color:white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section > p{
    line-height: 2.2em;
    padding-top: 40px;
    padding-bottom: 10vh;
    padding-left: 30px;
}
.normal{
    background-color: white;

}
section.imagem{
    background-color: rgba(0, 0, 0, 0.427);
    color:white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.454);
}
section.imagem > p{
    width:400px;
    background-color: rgba(0, 0, 0, 0.502);
}
section#img01{
    background-image: url('../img/background001.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;

}
section#img02{
    background-image: url('../img/background002.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
footer{
    color: white;
    padding: 10px;
    text-align: center;
}